@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "Error";
    string error = ViewBag.error as string;
}

<h2>Error</h2>

<div class="mainContainer">
    <h1>Error</h1>
    <hr />
    <div class="alert alert-warning">
        <p>@error</p>
    </div>
    <hr />
   
</div>

