body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

body {
    /*background-color: #F5F5F5;*/
    background-color: #FFFAFA;
    color: black;
}

.dropbtn {
    background-color: #FAEBD7;
    background-color: #5bc0de;
    color: white;
    padding: 16px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    margin: 0;
    width: 100px;
    font-weight:bold;
}

    .dropbtn:hover {
        border-bottom: 5px solid #FFE4E1;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

        .dropdown-content a:hover {
            background-color: #FFE4E1
        }

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover  {
    background-color: #FFE4E1;
}

.navbar-header, .navbar-collapse collapse, .nav navbar-nav {
    background-color: #FFFAF0;
    background-color: #5bc0de;
}

.navbar-inverse {
    background-color: #FFFAF0;
    background-color: #5bc0de;
    border: 0;
}

.navbar-inverse a:hover {
    color:white;
}

.navbar-header {
color:white;
}

a:link::after {
color:white;
font-weight:bold;
}
a:hover {
color:white !important;
font-weight:bold;
}

